<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar"/>
<div class="container">
    <div class="row" style="margin-bottom: -100px; margin-top: 100px;">
        <div class="row">
            <div class="col-xs-8">
               
          
        </div>
       
        
        	<hr
			style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
		<img class="img-responsive" src="/image/wood.png"
			style="margin-top: -75px;" />
        
        
    </div>
    <div class="row" style="margin-top: 120px;">
        <div class="col-xs-9 col-xs-offset-3">
            <h3>FAQ</h3>
            <hr/>
            
            
            <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1-Que doit faire expéditeur?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">L’expéditeur a la responsabilité de la qualité de l’emballage du colis.
L’expéditeur doit renseigner les informations exactes d’identité et  de coordonnées du receveur du colis. Il doit également transmettre le code secret à 4 chiffres au receveur afin qu’il le donne au transporteur après reception du colis.
L’expéditeur doit aussi prévenir le receveur sur le contenu exact de l’envoi.

Que doit faire receveur du colis?
Il est fortement décoseillé au receveur de mandaté quelqu'un d'autre pour venir récupérer le colis à sa place.Le receveur doit vérifier sur place devant le transporteur  que le colis est complet conformément aux informations qu’il a préalablement reçu de l’expéditeur.
Si le colis est complet il remet le code secret au transporteur. Le code secret vaut « accusé de réception » et permettra au transporteur d’être payé par coshipping.fr pour le service rendu.
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         2-Qu’est-ce qu’un transporteur doit faire ? 
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">Un transporteur dépose une annonce sur coshipping.fr il est guidé par un formulaire simple et il propose un tarif pour son service.</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         3-Comment confirmer que le bagage est bien livré en tant que transporteur ?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">Pour confirmer que le bagage est bien livré je dois renvoyer à contact@coshipping.fr le code secret à 4 chiffres reçu du receveur.

En tant que transporteur quelle est ma responsabilité ?
Je dois remettre le colis dans l’état dans lequel je l’ai reçu. Je dois proposer des trajets que je fais moi-même réellement.
Je ne dois  confier le colis ou le bagage à quelqu’un d’autre à aucun moment.
      </div>
    </div>
    
 
    
    
  </div>
  
  
  <div class="card">
    <div class="card-header" id="headingTen">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
         4-En tant que transporteur quelle est ma responsabilité ?
        </button>
      </h2>
    </div>
    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
      <div class="card-body">
En tant que transporteur quelle est ma responsabilité ?
Je dois remettre le colis dans l’état dans lequel je l’ai reçu. Je dois proposer des trajets que je fais moi-même réellement.
Je ne dois  confier le colis ou le bagage à quelqu’un d’autre à aucun moment.
      </div>
    </div>
    
 
    </div>
  
  
   <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
         5-Comment serai-je payé(e) pour le transport de colis ? 
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">Nous n'autorisons pas le paiement de la main à la main lors de la livraison : les paiements se font exclusivement en ligne de manière sécurisée et en amont du déplacement. 
A l'issue du déplacement, dès que la livraison est confirmée, vous serez payé(e) par coshipping sous forme de virement bancaire.
NB : Si votre receveur ne peut vous donner de code, pas de panique, demandez à l'expéditeur de confirmer via email hello@coshipping.fr, nous vous aiderons. 
      </div>
    </div>
    
    
    
    
    
  </div>
  
  
  
  
  
  
  
   
   <div class="card">
    <div class="card-header" id="headingSeven">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
         6-Que doit faire le receveur du bagage ou du colis ?
         
        </button>
      </h2>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
      <div class="card-body">  Le receveur du colis dois montrer sa carte d’identé au porteur du colis et 
Si vous êtes celui qui a envoyé le bagage ou le colis, vous avez reçu un code à 4 chiffres. Il suffit de remettre ce code à votre transporteur afin qu'il puisse confirmer la livraison.
Attention, le code n'est à transmettre qu'une fois la livraison effectuée.
      
      </div>
    </div>
    
    
     
   <div class="card">
    <div class="card-header" id="headingHeight">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
         7-Comment puis-je être sûr que je ne transporterai pas quelque chose d'illégal?
         
        </button>
      </h2>
    </div>
    <div id="collapseHeight" class="collapse" aria-labelledby="headingHeight" data-parent="#accordionExample">
      <div class="card-body">  Selon la loi, vous êtes le seul responsable des objets en votre possession, qu'ils vous appartiennent ou qu'ils appartiennent à un tiers. 
De ce fait, lorsque l'expéditeur vous remet le bien à acheminer, vous avez le droit de demander à vérifier le contenu de l'envoi en présence de l'expéditeur afin de vous assurer que les biens qui vous sont confiés ne sont pas des biens illicites ou dont le transport est interdit. 
Nous vous incitons donc fortement à faire cette démarche et à refuser l'acheminement si vous avez le moindre doute. 
Par ailleurs, vérifier le contenu du colis vous permet également d'attester de l'état du bien avant l'acheminement et de pouvoir contester ultérieurement tout dommage qui pourrait vous être injustement reproché. N'hésitez pas à prendre une photo du bien avant de voyager, cela pourra vous tenir lieu de preuve.
Enfin, vous êtes tenu de vous informer et de respecter les lois et réglementations en question, notamment les réglementations douanières. En effet, les réglementations imposent dans la plupart des cas des limites sur les quantités de marchandises qu’un particulier est autorisé à acheminer sans avoir à s’acquitter de taxes douanières.
      
      
      </div>
    </div>
    
   
   <div class="card">
    <div class="card-header" id="headingNine">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
         8-Que se passe-t-il si un porteur annule sa proposition ou ne répond plus ?
         
        </button>
      </h2>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
      <div class="card-body"> En cas d'annulation du transporteur, nous conservons votre paiement jusqu'à ce que vous vous mettiez d'accord avec un autre porteur.
      
      </div>
    </div>
    
    
  </div>
  
  
  
  
  
  
  
</div>
            
            
            
            
            
            
    </div>
</div>
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>