
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
  <div class="row" style="margin-bottom: -100px; margin-top: 100px;">
  			<div class="col-xs-8">
				<h2 class="section-headline">
					
				</h2>
			</div>
			
		</div>
		<hr
			style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
		<img class="img-responsive" src="/image/wood.png"
			style="margin-top: -75px;" />
 <div class="row" style="margin-top: 120px;">
        <div class="col-xs-9 col-xs-offset-3">
         
            <h3 class="featurette-heading"> Conditions Générales </h3>
            <hr/>
             
           
        
        
         <div class="row featurette">
        
        
        <div class="col-md-9">
        
        <h3 class="featurette-heading">I - Conditions Générales d'Utilisation</h3>
        <p class="lead">Les présentes Conditions Générales d'Utilisation (« CGU ») du site web  www.coshipping.fr (le « Site ») sont à jour au 16 octobre 2020</p>
        
  <p class="lead">    
  
<h3 class="featurette-heading"> I.1 Champ d'application et définitions</h3>

   <p class="lead">Les présentes CGU ont pour objet de déterminer les modalités de réalisation des prestations de service effectuées:

Entre des particuliers : l'Expéditeur ("Expéditeur") et le voyageur ("Voyageur"),
ou

Entre un particulier et un professionnel : l'Expéditeur ("Expéditeur") et le Transporteur ("Transporteur"),
par le biais de ce site.<p>

 <p class="lead">l'Expéditeur a la possibilité de proposer à un Voyageur ou à un Transporteur de transporter pour son compte un bien (« Bien ») en contrepartie d’une somme d’argent préalablement convenue entre l'Expéditeur et le Voyageur ou entre l'Expéditeur et le Transporteur. </p>



     
<p class="lead"> Article : <span class="text-muted">Désigne un article des CGU.  </span>  
<p class="lead"> Bien : <span class="text-muted">Désigne le Bien ou l’ensemble de Biens transportés par le Voyageur ou par le Transporteur pour le compte de l'Expéditeur. Le Voyageur,
 le Transporteur et l'Expéditeur s’engagent à (i) ni remettre (ii) ni acheminer de Bien dangereux ou illicite. La valeur du Bien ne doit pas être supérieure à 500€.</span>  
<p class="lead"> Compte Tiers : <span class="text-muted">Désigne un compte préalablement ouvert par un Utilisateur sur une autre plateforme de réseau social (notamment Facebook, Twitter, LinkedIn, Google.</span>  
<p class="lead"> Expéditeur : <span class="text-muted">Désigne une personne physique ou une entreprise ayant créé un Compte coshipping sur le Site Internet (www.coshipping.fr) et demandant ou ayant demandé le convoyage d’un Bien (i) par une autre personne physique dénommée Voyageur en contrepartie de la participation aux frais convenue avec ce dernier, ou (ii) par un transporteur professionnel, dénommé Transporteur en contrepartie du paiement d'une Prestation de Livraison.</span>  
<p class="lead"> Frais de service : <span class="text-muted">Désigne les frais dont la signification est donnée à l’article II-2-7</span>  
<p class="lead"> Inscription : <span class="text-muted">Désigne l’inscription et la création d’un Compte coshipping sur le Site.</span>  
<p class="lead"> Membre : <span class="text-muted">Désigne indistinctement l'Expéditeur, le Voyageur ou le Transporteur ayant accepté les présentes CGU et utilisant le site en tant qu'Expéditeur, Voyageur ou Transporteur. Les Membres sont seuls décisionnaires de la concrétisation du service d’acheminement du Bien.</span>  
<p class="lead"> Professionnel du Commerce : <span class="text-muted"> Désigne toute personne morale ou physique exerçant à titre habituel des actes de commerce tels que définis aux articles L. 110-1 et suivants du Code de commerce.</span>  
<p class="lead"> Partenaire : <span class="text-muted">Désigne un Professionnel du Commerce proposant le Service dans le cadre de son activité de vente en ligne.
  </span>  
<p class="lead">Prestation de Livraison : <span class="text-muted">Désigne la somme d’argent convenue entre l'Expéditeur et le Voyageur, versée l'Expéditeur au Voyageur au titre de la participation aux frais de voyage et de trajet de ce dernier.</span>  
<p class="lead"> Serveur : <span class="text-muted">Désigne un ordinateur hébergeant un service applicatif et possédant une grande quantité d’espace disque où sont stockés des fichiers.</span>  
<p class="lead"> Service(s) : <span class="text-muted">Ont la signification donnée à l'Article II.1 – Description du Service.</span>  
<p class="lead"> Site Internet ou Site : <span class="text-muted">Désigne www.coshipping.fr</span>  
<p class="lead"> Site Partenaire : <span class="text-muted">Désigne le ou les sites Internet des Partenaires.  </span>  
<p class="lead"> Trajet : <span class="text-muted">	Désigne l’opération pour laquelle le Voyageur ou le Transporteur a accepté de transporter le Bien, d’un point de collecte à un point de livraison, en contrepartie respectivement de la Participation aux frais du trajet ou du paiement de la prestation de livraison définie à l’avance avec l'Expéditeur. Le Voyageur et le Demandeur supporteront seuls les risques de requalification de la prestation non autorisée par l’intermédiaire de www.coshipping.fr.</span>  
<p class="lead"> Transporteur(s) : <span class="text-muted">Désigne le ou les Professionnel(s) transitaires ayant créé un compte coshipping, détenteur d'une Licence de Transport maritime ou routier et susceptible d'acheminer un Bien d'un point à un autre. </span>  
<p class="lead"> Utilisateur : <span class="text-muted">	Désigne une personne physique agissant en son nom ou au nom d'une entreprise.</span>  
<p class="lead"> Voyageur(s) : <span class="text-muted">Désigne le ou les personne(s) physique(s), non Professionnel du Commerce, ayant créé un Compte coshipping et susceptible d’acheminer un Bien.</span> 


       
        </div>
       
      </div>
      <hr class="featurette-divider">
 <h3 class="featurette-heading">I.2 Champ d’application, acceptation et modification des CGU</h3>


<p class= "lead" >L'utilisation des Services disponibles sur le Site ou un Site Partenaire signifit acceptation préalable des présentes CGU.</p>
<p class= "lead" >L’Inscription et l’utilisation du Site directement ou via un Site Partenaire sont réservées à un Utilisateur âgé de dix-huit (18) ans ou plus. L’Utilisateur visitant le Site ou utilisant le Service via un Site Partenaire certifie donc être âgé d’au moins dix-huit (18) ans</p>

<p class= "lead" >En cas de manquement d’un Membre à l’une quelconque de ses obligations prévues par les présentes, coshipping se réserve la possibilité de supprimer le compte.   </p>
<p class= "lead" >coshipping se réserve le droit de modifier à tout moment les présentes CGU, les fonctionnalités offertes sur le site ou les règles de fonctionnement du Service. Les Utilisateurs et les Membres en seront informés par tout moyen.</p>

<p class= "lead" >Lorsqu'une modification survient après le paiement par le Membre Expéditeur au Membre Voyageur ou au Membre Transporteur d'une somme d'argent correspondant respectivement à la Participation aux frais ou au paiement de la prestation de service la modification ne s'applique pas à la transaction en cours.</p>
<p class= "lead" >coshipping se réserve notamment la faculté de proposer des services nouveaux, gratuits ou payants sur le Site.</p>
<p class= "lead" >L'utilisation des Services disponibles sur le Site ou un Site Partenaire signifit acceptation préalable des présentes CGU.</p>

     <hr class="featurette-divider">
 <h3 class="featurette-heading">II – Utilisation du Service</h3>
 
 <h3 class="featurette-heading">II.1 Description du Service</h3>
 
<p class= "lead" >Le service de coshipping est un service de mis en relation :</p>





<p class= "lead" >1° Soit entre particuliers (Expéditeur et Voyageur) en vue d'acheminer le Bien de l'Expéditeur par le Voyageur, à titre non professionnel, moyennant une participation aux frais de voyage ; de fait, le Voyageur ne peut nullement être considéré comme exerçant une activité de transport à quelque titre que ce soit.</p>
<p class= "lead" >2° Soit d'un Expéditeur et d'un Transporteur en vue d'acheminer le Bien de l'Expéditeur par le Transporteur, à titre professionnel et dans un cadre règlementé, moyennant le paiement de la Prestation de Livraison par l'Expéditeur au Transporteur.</p>

<p class= "lead" >L'activité de coshipping ou de ses Partenaires se limite donc :</p>
<p class= "lead" >1° Soit à une simple mise en relation de particuliers dans le cadre de partage de frais</p>
<p class= "lead" >2° Soit à une mise en relation d'un Expéditeur et d'un Transporteur dans un cadre commercial et réglementé <br/>
Le Site www.coshipping.fr constitue en effet une plateforme de mise en relation, et  n’interfère à aucun moment dans les trajets effectués, les destinations, les horaires fixés, la Participation aux frais de voyage, 
le prix de la Prestation de Livraison et à ce titre, coshipping ne peut être considéré comme un Commissionnaire de transport. </p>

<p class= "lead">Dans les limites prévues par la loi applicable, il est rappelé que coshipping est un tiers extérieur à
 la relation entre les Membres et ne saurait avoir aucune obligation 
au titre de l'exécution par ces derniers de leurs obligations respectives au titre des Trajets. </p>

<p class="lead"> Dans le cas d'une mise en relation entre particuliers et lors de l'acheminement du Bien, le Voyageur ne peut s'engager à assurer les obligations qui sont celles d'un Transporteur et dans ce cas, l'Expéditeur ne peut s'attendre à l'exécution de telles prestations. 
L'Expéditeur ou les Voyageurs s'engagent à n'utiliser le Service que pour la mise en relation.</p>



<p class="lead"> Les CGU ne créent aucun lien de subordinations, ni aucune relation employé/employeur ou franchisé/franchiseur entre coshipping et les Utilisateurs et les Membres.</p>

<p class="lead">
Il est interdit à un Voyageur d'exercer une activité lucrative régulière de livraison de colis. Dans le cas contraire, coshipping informe le Voyageur qu'il pourrait rapidement se retrouver dans une situation illicite ou illégale au regard de la réglementation du transport de l'administration fiscale et être reconnu comme exerçant un commerce de fait. Par ailleurs, coshipping rappelle,
 qu'en tant que Voyageur, le paiement reçu est au titre de la Participation aux frais et non au titre d'une vente de service avec bénéfice.
   
   </p>

<p class="lead">

Enfin, avant d’utiliser le Service, le Voyageur qui utilise un transporteur pour effectuer un Trajet, doit prendre connaissance des
 Conditions Générales de Vente de celui-ci, s’assurer s’il est autorisé à transporter le Bien de l'Expéditeur.

 </p>
        
        
             <hr class="featurette-divider">
 <h3 class="featurette-heading">II 2– Détermination de la Participation aux frais</h3>
 
 <P class="lead">Dans le cas d’une mise en relation, la détermination du montant de la Participation aux frais est à la charge du voyageur ou du transporteur. </P>
        
                   <hr class="featurette-divider">
 <h3 class="featurette-heading">II.3 - Convoyage du Bien par le Voyageur ou le Transporteur</h3> 
 <P class="lead">
 
 L'Expéditeur demeure le seul propriétaire du Bien convoyé par le Voyageur ou le Transporteur. Le Trajet s’effectue par le Voyageur ou le Transporteur en contrepartie respectivement de la participation aux frais du Trajet ou du prix de la Prestation de Livraison convenue à l'avance avec l'Expéditeur.

Il est interdit de proposer et d'effectuer un voyage dans le cadre du Service par un voyageur autre que l'Utilisateur. Ainsi à quelque titre que ce soit les sous-traitants ne sont ainsi pas autorisés à proposer leurs services à l'Expéditeur.

La valeur intrinsèque du Bien ne devra pas être supérieure à 500 euros TTC.
 
   </P>
        
        
         
                   <hr class="featurette-divider">
 <h3 class="featurette-heading">II.3 Frais de Service </h3> 
 <P class="lead">
 
Pour le paiement par carte bancaire directement sur le Site, coshipping s’est dotée d’un système de paiement sécurisé mis en œuvre pour par la société Stripe. Aucune donnée financière de l'Expéditeur ne transite et n’est stockée par le Site. L’engagement d’un paiement par l'Expéditeur sur le Site vaut acceptation des
 conditions générales de Stripe accessibles ici.
 La Participation aux Frais de transport qui est déterminé par le Voyageur est majorée de 20% de commission pour coshipping.


Les modalités de calcul du montant de la TVA applicable varient selon la domiciliation de l'Expéditeur.
Pour le paiement par carte bancaire directement sur le Site, coshipping s’est dotée d’un système de paiement sécurisé mis en œuvre pour par la société Stripe. Aucune donnée financière de l'Expéditeur ne transite et n’est stockée par le Site. 

 
        
 </P>       
        
        
            <hr class="featurette-divider">
 <h3 class="featurette-heading">II.4 - Paiement et frais en cas d'annulation </h3> 
 <P class="lead"> En cas d'annulation imputable au Voyageur ou au Transporteur, l'Expéditeur est remboursé de la totalité de la somme qu'il a versée moins les frais de transaction prélevés par Stripe. 
 L’engagement d’un paiement par l'Expéditeur sur le Site vaut acceptation des conditions générales de Stripe accessibles <a href="https://stripe.com/fr/privacy">ici</a>.
        
     </P>   
        
        
        
        
                
                   <hr class="featurette-divider">
 <h3 class="featurette-heading">III- Obligations et responsabilités </h3> 
  <h3 class="featurette-heading">III-1 Obligations </h3> 
 <P class="lead">
        
        coshipping s'efforce d'assurer la disponibilité du Site et du Service 24 heures sur 24, et 7 jours sur 7. Cependant, il peut arriver que l'accès au Site ou au Service soit momentanément interrompu 
        dans le cadre d'opérations de maintenance, de mises à niveau matérielle ou logicielle, de réparations d'urgence du Site, ou par suite de circonstances indépendantes de la volonté de coshipping ou en cas de force majeure.</P>
        
         <P class="lead"> 
         
          En accédant au Site, l’Utilisateur déclare, garantit et s’engage à :

accéder et utiliser le Site Internet et le Service en toute bonne foi, de manière raisonnable, non contraire aux termes des présentes CGU. </p>

   <P class="lead">
ne pas accéder et/ou utiliser le Site  à des fins illicites et/ou dans le but de causer un préjudice à la réputation et l’image de coshipping ou plus généralement à porter atteinte aux droits, notamment de propriété intellectuelle, du site et/ou de tiers </p>
  <P class="lead">
ne pas réutiliser tout ou partie du Site et/ou du Service qu’il contient, en particulier à des fins commerciales et/ou lucratives et/ou collectives et/ou à des fins personnelles sous une forme et/ou un média non autorisé par coshipping ;</p>

  <P class="lead">

ne pas modifier, y compris en mémoire tampon ou temporaire, aucune mention ou élément du Service et/ou du contenu du Site /Membres du Site en vue de l’envoi en masse de courrier électronique de sollicitation et de se livrer à une pratique de « spamming » ; </p>

  <P class="lead">

ne pas porter atteinte à l’image, à la vie privée et aux données personnelles des autres Utilisateurs/Membres ou de tiers;</p>
<P class="lead">
ne pas dénigrer le Site sur les réseaux sociaux et sur tout autre moyen de communication, actuel ou futur.</p>
<P class="lead">
ne pas transmettre à coshipping ou aux Membres d’information fausse, trompeuse, mensongère ou frauduleuse ;</p>
<P class="lead">
ne tenir aucune parole ou ne publier sur la Plateforme aucun contenu à caractère diffamatoire, injurieux, vulgaire, violent, menaçant, raciste, obscène, harcelant, pornographique ou à connotation sexuelle, incitant à la violence ou à la haine de l’autre, ou encourageant à des activités illégales.</p>
<P class="lead">ne pas créer plus d’un Compte Utilisateur sur la Plateforme et ne pas ouvrir de Compte Utilisateur au nom d’un tiers ;</p>
<P class="lead">ne pas tenter de contourner le système de mise en relation de la Plateforme ou de contacter un Membre en vue de réaliser le Service en dehors de celle‐ci et ainsi ne pas payer les Frais de Service ;</p>
<P class="lead">aussi bien en tant que Voyageur ou Transporteur qu’en tant qu'Expéditeur, d’être joignable par téléphone mobile en permanence pendant toute la durée du trajet, au numéro inscrit sur votre Compte Utilisateur;</p>

<P class="lead">protéger son Bien lors du trajet soit à l’aide de cartons (idéalement le carton d’origine) ou à l’aide de couvertures (mobilier ou électroménager) ;
ne pas transmettre les colis au Voyageur si ces derniers ne sont pas protégés ;</p>

<P class="lead"> En accédant au Site, en tant que Transporteur et en plus des obligations décrites ci-dessus dans le paragraphe "en tant que Voyageur", l'Utilisateur déclare, garantit et s'engage à :  </p>

          <P class="lead">Disposer d'une licence de transport </p>
        <P class="lead">  Posséder le Certificat d'inscription au registre des commissionnaires de transport ou des Transporteurs ;</p>
        <p class="lead">Etre à jour de ses obligations fiscales et sociales ; </p>
        <p class="lead"> Disposer d'un Extrait K bis de moins de trois mois attestant de l'immatriculation au registre du commerce et des sociétés ;  </p>
      <p class="lead">  Disposer d'une attestation d'assurance valide par type de risque garanti et notamment Responsabilité Civile Contractuelle, Responsabilité Civile Professionnelle, et Responsabilité Civile Exploitation ; </p>
         
       <p class="lead">   Le Site rappelle au Voyageur qu’il lui est interdit, d’exercer une activité lucrative régulière de livraison de colis au‐delà d’un montant de transactions reçues de 3.000 euros par an. Dans le cas contraire.</p>
       
      <p class="lead"> Le respect des obligations décrites ci‐dessus constitue une condition essentielle et déterminante du consentement de coshipping à mettre en
       relation un Expéditeur avec un Voyageur ou un Transporteur.</p>
       
     <p class="lead"> Le transport de Biens contenant des produits ou matières explosifs, illicites ou dangereux et/ou contraires à l’ordre public et aux bonnes mœurs est strictement interdit. Dans cette hypothèse, coshipping en informera les autorités compétentes dès qu’elle aura connaissance et pourra 
       prendre toute mesure à l’encontre de l'Expéditeur et/ou le Voyageur notamment par les voies judiciaires. </p>
         
         
         </P>

 
        
        
        
        
        
        
        


  
  
        </div>
        
     
        
      </div>
        
        
        
        
        
    </div>
</div>
	</div>
	<!-- end of container -->
<div th:replace="common/header :: footer"/>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
