
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" > </div>

   <div container-fluid>
    <!-- Carousel
    ================================================== -->
   

<!-- *******slider-part-start****** -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="image/2.jpg" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="image/cargo1.jpg" alt="Chicago">
    </div>

    <div class="item">
      <img src="image/conteneur.jpeg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>     
<!-- *******slider-part-end****** -->
     
    </div><!-- /.carousel -->

<!-- ******* Marketing messaging and featurettes-part-start****** -->
<section id="marketing">
<div class="container">
	<div class="row">

	<div class="col-md-4">
		    <div class="box wow zoomIn" data-wow-delay=".3s">
		     	<a href="#"><img src="image/img20.jpg" class="img-fluid img-thumbnail"></a>
			    <p class="m-4">
			    <h5>Vous voulez envoyer un colis dans votre pays d'origine ou à l'etranger à moindre cout?</h5>
			    <p>Réaliser de grandes économies sur vos frais d'envoi de colis. Repondez simplement à une annonce de particulier, de transporteur ou de transitaire.
			    </p>
			    <div class="btn">
			    	<a href="#">Déposez une annonce »</a>
			    </div>
		    </div>
		</div>	
		
		<div class="col-md-4">
		    <div class="box wow zoomIn" data-wow-delay=".3s">
		     	<a href="#"><img src="image/img57.jpg" class="img-fluid img-thumbnail"></a>
			    <p class="m-4">
			    <h5>Vous êtes un particulier, une association et vous voulez faire partir un conteneur à l'international?</h5>
			    <p>Vous avez la possibilité de gagner de l'argent et de vous faire rembourser une partie de vos frais de transport en optimisant les espaces libres de votre conteneur.
			    </p>
			    <div class="btn">
			    	<a href="#">Regarder les annonces »</a>
			    </div>
		    </div>
		</div>		

		
		<div class="col-md-4">
		    <div class="box wow zoomIn" data-wow-delay=".3s">
		     	<a href="#"><img src="image/img3.jpg" class="img-fluid img-thumbnail"></a>
			    <p class="m-4">
			    <h5>Vous êtes transporteur professionnel? Vous êtes un transitaire? Optimisez rapidement vos groupages maritime.</h5>
			    <p>Trouvez plus rapidement vos clients ici et optimisez vos conteneurs au plus vite.
			    </p>
			    <div class="btn">
			    	<a href="#">Déposez une annonce »</a>
			    </div>
		    </div>
		</div>		     			     				     		
	</div><!-- The row -->
</div>	
</section>
<!-- *******Marketing messaging and featurettes-part-end****** -->

<!-- *******about-us-part-start****** -->
<section id="about-us">
	<div class="container">
		<div class="about-us">
			<h2>Quel est le concept? C'est simple,<br> c'est le principe du groupage maritime</h2>
			<p>Comme toute plateforme, nous mettons en relation des personnes qui transportent des marchandises et qui souhaitent rembourser une partie des frais de transport maritime en optimisant les espaces perdus du conteneur et les personnes qui veulent expédier quelques colis à leurs proches à l'étranger. C'est simple, pratique et économique, puisque vous payez uniquement au prorata du volume que vous expédiez.</p>
		</div>
	</div><!-- end container -->
</section>
<!-- *******about-us-end****** -->

<!-- *******work-part-start****** -->
<section id="work">
	<div class="container">
		<h2>Livraisons de colis à l'étranger entre <br>particuliers Comment çà marche?</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="work">
					<p>Etape 1) Vous disposez d'un conteneur 20 pieds, 40 pieds? Gagnez de l'argent en déposant une annonce <a href="#" >ici</a></p>
					<ul>
						<li><i class="fas fa-arrow-circle-right"></i>Précisez votre port de destination</li>
						<li><i class="fas fa-arrow-circle-right"></i>Détaillez bien votre annonce</li>
						<li><i class="fas fa-arrow-circle-right"></i>Précisez votre port de destination</li>
						<li><i class="fas fa-arrow-circle-right"></i>Précisez la quantité d'espace conteneur que voulez vendre</li>
						<li><i class="fas fa-arrow-circle-right"></i>Donnez la date de départ</li>
						<li><i class="fas fa-arrow-circle-right"></i>Les conditions de ramassage des colis</li>
						<li><i class="fas fa-arrow-circle-right"></i>Fixer votre prix.</li>
					</ul>
					<p>Etape 2) Les clients vont vous contacter par mail</p>
					<ul>
						<li><i class="fas fa-arrow-circle-right"></i>Précisez votre port de destination</li>
						<li><i class="fas fa-arrow-circle-right"></i>Détaillez bien votre annonce</li>
						<li><i class="fas fa-arrow-circle-right"></i>Précisez votre port de destination</li>
						<li><i class="fas fa-arrow-circle-right"></i>Précisez la quantité d'espace conteneur que voulez vendre</li>
						<li><i class="fas fa-arrow-circle-right"></i>Donnez la date de départ</li>
						<li><i class="fas fa-arrow-circle-right"></i>Les conditions de ramassage des colis</li>
						<li><i class="fas fa-arrow-circle-right"></i>Fixer votre prix.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="work-left">
					<img src="image/img9.jpeg">
				</div>
			</div>
		</div> <!-- end row -->
	</div> <!-- end container -->
</section>
<!-- *******work-part-end****** -->



<!-- *******private-shipper-part-start****** -->
<section id="private">
	<div class="private-left">
		<h2>Vous êtes expediteur particulier.<br> Que faire? c'est simple.</h2>
		<ul>
			<li><i class="fas fa-arrow-circle-right"></i>Précisez votre port de destination</li>
			<li><i class="fas fa-arrow-circle-right"></i>Détaillez bien votre annonce</li>
			<li><i class="fas fa-arrow-circle-right"></i>Précisez votre port de destination</li>
			<li><i class="fas fa-arrow-circle-right"></i>Précisez la quantité d'espace conteneur que voulez vendre</li>
			<li><i class="fas fa-arrow-circle-right"></i>Donnez la date de départ</li>
			<li><i class="fas fa-arrow-circle-right"></i>Les conditions de ramassage des colis</li>
			<li><i class="fas fa-arrow-circle-right"></i>Fixer votre prix.</li>
		</ul>		
	</div>
	<div class="private-right">
		
	</div>
</section>
<!-- *******private-shipper-part-end****** -->


<!-- *******package-part-end****** -->
<section id="package">
	<div class="container">
		<div class="package">
			<h2>Envoyez ou transportez tout type de colis</h2>
			<div class="row">
				<div class="col-md-6">
					<div class="product-mother">
						<div class="product">
							<h3>Canapé</h3>
							<p>C'est le mobilier central pour mieux recevoir les invités dans le salon. Envoyez le à vos proche à l'étranger</p>
						</div>
						<div class="product-left">
							<img src="image/remove.png">
						</div>
					</div>	
					<div class="product-mother">
						<div class="product">
							<h3>Deux roues</h3>
							<p>Nous avons les solutions pour expédier à l'étranger vos deux roues (moto, velo, scooter...). Regardez les annonces</p>
						</div>
						<div class="product-left">
							<img src="image/moto.jpg">
						</div>
					</div>

					<div class="product-mother">	
						<div class="product">
							<h3>Pneus</h3>
							<p>Vous pouvez expédier des pneus neufs et d'occasions à des tarifs réduits</p>
						</div>
						<div class="product-left">
							<img src="image/pneu.jpg">
						</div>
					</div>
					<div class="product-mother">
						<div class="product">
							<h3>Vaisselles</h3>
							<p>Mettez les petits plats dans les grands et expédiez le tout vers l'étanger</p>
						</div>
						<div class="product-left">
							<img src="image/vaisselle.jpeg">
						</div>
					</div>			
				</div><!-- end col-md -6 -->

				<div class="col-md-6">
					
					<div class="product-mother">
						<div class="product">
							<h3>Cartons</h3>
							<p>Protégez les affaires à envoyer, mettez-les en cartons puis expédiez-les</p>
						</div>
						<div class="product-left">
							<img src="image/carton.jpg">
						</div>
					</div>

					<div class="product-mother">	
						<div class="product">
							<h3>Réfrigirateurs</h3>
							<p>Les meubles aussi c'est possible de les expédier. Trouvez votre transportur sur notre plateforme</p>
						</div>
						<div class="product-left">
							<img src="image/frigidaire.jpg">
						</div>
					</div>	

					<div class="product-mother">	
						<div class="product">
							<h3>Meubles</h3>
							<p>Les meubles aussi c'est possible de les expédier. Trouvez votre transportur sur notre plateforme</p>
						</div>
						<div class="product-left">
							<img src="image/meuble.jpg">
						</div>
					</div>							
				</div><!-- end col-md -6 -->

			</div><!-- end row -->
		</div>
	</div>	<!-- end container -->
</section>
<!-- *******package-part-end****** -->

   
 

    </div><!-- /.container -->

<div th:replace="common/header :: footer"> </div>
	<div th:replace="common/header :: body-bottom-scripts" > </div>
	
	
</body>
</html>
