<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<link href="/css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<style>
	table {
	border-collapse: collapse;
	}
	
	table, th, td {
	border:1px solid black;}
</style>
</head>
<body>
<p>Cher (e) <span th:text="${book.author}"></span>,</p>
<br/>
<p>Félicitation. Vous avez une nouvelle réservation!</p>
<p>Veuilez contacter votre client Madame, Monsieur: <strong>#<span th:text="${user.firstName}"></span></strong>. Voici les coordonnées de votre client pour récupérer le bagage et de celui à qui vous devez donner le bagage:</p>
<h2 style="display:none;">Numéro de téléphone de celui qui envoie le bagage:<span style="display:none;" th:text="${order.id}"></span></h2>
<hr/>

<table>
	<tr>
		<th>Coordonnées de votre client</th>
		<th style="display:none;">Payment Information</th>
		<th>Coordonnées de personne à votre arrivée</th>
	</tr>
	<tr>
		<td>
		   <span th:text="${user.firstName}+' '+${user.lastName}"></span><br/>
			<span th:text="${user.phone}"></span><br/>
			<span th:text="${user.email}"></span><br/>
			<span style="display:none;" th:text="${order.billingAddress.billingAddressState}"></span><br/>
			<span style="display:none;"  th:text="${order.billingAddress.billingAddressZipcode}"></span><br/>
		</td>
		<td style="display:none;" >
			<span style="display:none;" th:text="${order.payment.holderName}"></span><br/>
			<span style="display:none;"  th:text="${order.payment.type}"></span><br/>
			<span style="display:none;" th:text="${order.payment.cardNumber}"></span><br/>
			<span style="display:none;"  th:text="${order.payment.expiryMonth}"></span><br/>
			<span style="display:none;"  th:text="${order.payment.expiryYear}"></span><br/>
		</td>
		<td>
			<span th:text="${order.shippingAddress.shippingAddressName}"></span><br/>
			<span th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br/>
			<span th:text="${order.shippingAddress.shippingAddressCity}"></span><br/>
			<span th:text="${order.shippingAddress.shippingAddressState}"></span><br/>
			<span th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br/>
		</td>
	</tr>
</table>

<h3><strong>Order Summary</strong></h3>
<table style="display:none;" >
<thead style="display:none;" >
	<tr style="display:none;" >
		<td style="display:none;" ><strong style="display:none;" >Item Name</strong></td>
		<td style="display:none;" class="text-center"><strong style="display:none;" >Item Price</strong></td>
		<td style="display:none;"  class="text-center"><strong style="display:none;" >Item Quantity</strong></td>
		<td style="display:none;" class="text-right"><strong style="display:none;" >Total</strong></td>
	</tr>
</thead>
<tbody>
	<tr style="display:none;" th:each="cartItem : ${cartItemList}">
		<td style="display:none;" ><span style="display:none;"  data-th-text="${cartItem.book.title}"></span></td>
		<td style="display:none;" class="text-center" data-th-text="${cartItem.book.ourPrice}"></td>
		<td style="display:none;" class="text-center" data-th-text="${cartItem.qty}"></td>
		<td style="display:none;"  class="text-right" data-th-text="${cartItem.subtotal}"></td>
	</tr>
	<tr style="display:none;" >
		<td style="display:none;" class="highrow"></td>
		<td style="display:none;"  class="highrow"></td>
		<td style="display:none;" class="highrow text-center"><strong style="display:none;" >Subtotal</strong></td>
		<td style="display:none;" class="highrow text-right" data-th-text="${order.orderTotal}"></td>
	</tr>
	<tr>
		<td style="display:none;"  class="emptyrow"></td>
		<td style="display:none;"  class="emptyrow"></td>
		<td style="display:none;"  class="emptyrow text-center"><strong>Tax</strong></td>
		<td style="display:none;" class="emptyrow text-right" data-th-text="${#numbers.formatDecimal(order.orderTotal*0.06,0,2)}"></td>
	</tr>
	<tr style="display:none;" >
		<td style="display:none;"  class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
		<td style="display:none;"  class="emptyrow"></td>
		<td style="display:none;" class="emptyrow text-center"><strong>Total</strong></td>
		<td style="display:none;"  th:with="total=${order.orderTotal+order.orderTotal}"
            data-th-text="${#numbers.formatDecimal(total, 0, 2)}"
            class="emptyrow text-right">
        </td>
	</tr>
</tbody>
</table>

<br/>
<p>Best,</p>
<p>Le's Bookstore</p>
<p>Since 1923</p>
</body>
</html>